* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
}

.shadow {
    @media (min-width: 1441px) {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
    }
}   