.location {
    box-shadow: inset 0px 7px 9px -10px rgba(0, 0, 0, 0.75);
    background-color: #EAEAEA;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    p {
        color: #353535;
        font-weight: 500;
        margin-left: 17px;
    }
}